/* Main Styles */

main{
    /* Bloque Padre del main */
    width: 100%; height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section-about{
    /* Es el contenedor del section about me. */
    /* border: 1px solid black; */
    width: 90%; height: 100vh;
    margin-top: 10px;
    text-align: center;
}


.main-section-about h2{
    /* Título del about me. */
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    margin-top: 30px;
}

.main-section-about p{
    /* Párrafo del about me. */
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    margin-top: 30px;
}

.main-section-about-redes{
    /* Es el contenedor de las imágenes de las redes sociales. */
    width: auto; height: auto;
    margin: 50px auto;
}

.main-section-about-redes-images{
    width: 100px;
}

/* ------------------------------------------- */
/* ------------------------------------------- */

.main-section-projects{
    /* border: 1px solid black; */
    width: 90%; height: auto;
    margin-top: 10px;
    text-align: center;
}

.main-section-projects h2{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    margin-top: 30px;
}

.main-section-projects-container-card{
    /* border: 1px solid black; */
    width: 100%; height: auto;
    display: flex;
    justify-content: center;
}

.card{
    /* border: 1px solid black; */
    width: 30%; height: auto;
    background-color: rgb(248, 249, 249);
    border-radius: 20px;
    box-shadow: 0px 5px 5px;
    margin: 30px 20px;
}

.card h3{
    /* border: 1px solid white; */
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    color: black;
    margin-top: 10px;

}

.card img{
    width: 96%;
    border-radius: 40px;
    padding: 20px 5px;
}

.card p{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: black;
}

.card a{
    /* border: 1px solid white; */
    display: block;
    width: 200px; height: auto;
    background-color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    margin: 20px auto;
    padding: 6px 0px;
}

/* --------------------------------------------------------------------------------------------- */
/* Media Querys */
/* --------------------------------------------------------------------------------------------- */

@media(max-width: 720px){
    
    .main-section-about{
        height: auto;
        margin-bottom: 20px;
    }

    .main-section-about-redes-images{
        width: 80px;
    }

    .card{
        width: 90%; height: 600px;
    }

    .main-section-projects-container-card{
        flex-direction: column;
        align-items: center;
    }
}